<%- include('../templates/head') %> 
<%- include('../components/navbar',{title:'Agenda de Contatos',session:session,created:false}) %> 
<div class="container home_container">
    <div class="messages">
        <%- include('../components/messages') %> 
    </div>
    <% 

    if( list.length > 0){
    %>
    <%- include('../templates/existsContats',{contacts:list}) %>   
    <%}else{%>
        <%- include('../templates/dontExistsContats') %>
    <%}%>    
</div>
<%- include('../templates/footer') %>